# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Engenharia de Software\Mestrado ES\V & V\Trabalho Testes\cafeteira-ideli_e_lucas\cafeteira-ideli_e_lucas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
